# Pycache & log
__pycache__/
*.pyc
*.log

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Sphinx documentation
docs/_build/

# Pycharm
.idea/

# OS files
*.DS_Store

# installation files
build/
./build/
PyBounds.egg-info/
./PyBounds.egg-info
/dist
./dist

